.caja{
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 420px;
  background: #fff;
  box-shadow: 5px 5px 10px #000000;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.spider-man{
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 200px;
}

.text {
  text-align: center;
  color: red;
  font-size: 30px;
}

.parrafo{
  color: black;
  margin: 10px;
  font-size: 15px;
}

.botton{
  background: red;
  height: 40px;
  width: 80px;
  color: azure;
  border-radius: 6px;
  place-content: center;
  margin-bottom: 50px;
}

.Goku{
  display: block;
  margin: 0px auto;
  width: 400px;
  height: 600px;
  filter: drop-shadow(5px 5px 10px #ffee00);
}