@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(Botones.css);
@import url(Variables.css);
@import url(Lista.css);

:root {
  --blanco: #fff;
  --amarillo: #d9e500;
  --verde: #11a427;
  --rojo: #d60a0a;
  --azul: #2c15f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboco", sans-serif;
}

.boton {
  width: 120px;
  background-color: blueviolet;
  padding: 12px;
  border: solid 1px blueviolet;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 30px;
  color: var(--blanco);
  cursor: pointer;
  transition: 1s;
}

.boton:hover {
  background-color: var(--blanco);
  color: blueviolet;
  border: solid 1px blueviolet;
}

.boton--border {
  border: solid 1px blueviolet;
  background-color: var(--blanco);
  color: blueviolet;
}

.boton--border:hover {
  border: solid 1px var(--blanco);
  background-color: blueviolet;
  color: var(--blanco);
}

.boton__texto {
  /*color: #fff;*/
}

.boton__icono {
  /*color: #fff;*/
}

.boton--yellow {
  width: 120px;
  background-color: var(--amarillo);
  padding: 12px;
  border: solid 1px var(--amarillo);
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 30px;
  color: var(--blanco);
  cursor: pointer;
  transition: 1s;
}

.boton--yellow:hover {
  background-color: var(--blanco);
  color: var(--amarillo);
  border: solid 1px var(--amarillo);
}

.boton--amarillo {
  border: solid 1px var(--amarillo);
  background-color: var(--blanco);
  color: var(--amarillo);
}

.boton--amarillo:hover {
  border: solid 1px #fff;
  background-color: var(--amarillo);
  color: #fff;
}

.boton--green {
  width: 120px;
  background-color: var(--verde);
  padding: 12px;
  border: solid 1px var(--verde);
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 30px;
  color: #fff;
  cursor: pointer;
  transition: 1s;
}

.boton--green:hover {
  background-color: #fff;
  color: var(--verde);
  border: solid 1px var(--verde);
}

.boton--verde {
  border: solid 1px var(--verde);
  background-color: #fff;
  color: var(--verde);
}

.boton--verde:hover {
  border: solid 1px #fff;
  background-color: var(--verde);
  color: #fff;
}

.boton--red {
  width: 120px;
  background-color: var(--rojo);
  padding: 12px;
  border: solid 1px var(--rojo);
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 30px;
  color: #fff;
  cursor: pointer;
  transition: 1s;
}

.boton--red:hover {
  background-color: #fff;
  color: var(--rojo);
  border: solid 1px var(--rojo);
}

.boton--rojo {
  border: solid 1px var(--rojo);
  background-color: #fff;
  color: var(--rojo);
}

.boton--rojo:hover {
  border: solid 1px #fff;
  background-color: var(--rojo);
  color: #fff;
}

.boton--blue {
  width: 120px;
  background-color: var(--azul);
  padding: 12px;
  border: solid 1px var(--azul);
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 30px;
  color: #fff;
  cursor: pointer;
  transition: 1s;
}

.boton--blue:hover {
  background-color: #fff;
  color: var(--azul);
  border: solid 1px var(--azul);
}

.boton--azul {
  border: solid 1px var(--azul);
  background-color: #fff;
  color: var(--azul);
}

.boton--azul:hover {
  border: solid 1px #fff;
  background-color: var(--azul);
  color: #fff;
}
