*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.enlace{
  display: block;
  background-color: red;
  color: #fff;
  padding: 20px;
  border-bottom: 3px solid #fff;
  text-align: center;
  font-size: 22px;
  text-decoration: none;
}

.enlace{
  background-color: rgb(9, 62, 162);
  color: black;
  border-bottom: 3px solid #004e12;
}

.enlace:visited{
  background-color: rgb(195, 3, 3);
}

.enlace:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(20, 163, 220);
}

.enlace:active{
  background-color: blue;
}

.event{
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  background-color: crimson;
  color: #fff;
  text-decoration: none;
  padding: 20px;
}

.event:active{
  background-color: aqua;
}

.box{
  height: 300px;
  width: 300px;
  background-color: rgb(1, 1, 143);
  border-radius: 50%;
  margin: 0 auto;
  transition: 1s;
}

#objetivo:target{
  border-radius: 0%;
}

/*para el form*/

.form{
  width: 60%;
  margin: 30px auto;
  background-color: #f2f2f2;
  box-shadow: 0 0 5px #000;
  padding: 30px;
}

.input{
  display: block;
}

input[type="text"],input[type="email"]{
  width: 100%;
  padding: 12px 5px;
  margin-bottom: 20px;
  border: none;
  outline: none;
}

.form_title{
  text-align: center;
  margin-bottom: 10px;
}

input[type="checkbox"]{
  display: inline-block;
}

input:focus{
  background-color: #57d775;
  color: #ffffff;
}

input[type="checkbox"]:checked+label{
  color: red;
}

.form:focus-within{
  background-color: #453f3f;
}

/*para el Hola*/

h3{
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  color: #004e12;
}

h3:not(.title):not(:hover){
  color: red;
}