*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #5f43fa;
  color: #434343;
}

body {
  background-color: #5f43fa;
  font-family: Arial;
}

.card {
  width: 320px;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgb(79, 64, 64);
  border-radius: 10px;
}

.card_title {
  text-align: center;
  padding-bottom: 7px;
  margin-bottom: 15px;
}

.card_title::before,
.card_title::after {
  content: "";
  display: inline-block;
  width: 5%;
  height: 5px;
  background-color: rgb(194, 31, 31);
  position: relative;
  margin-bottom: 5px;
}

ul {
  counter-reset: adso;
}

li {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

li::before {
  content: counter(adso);
  counter-increment: adso;
  background-color: #5f43fa;
  width: 30px;
  height: 30px;
  display: inline-block;
  color: #434343;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
