body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
}

.menu__logo a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.menu__inicial {
  display: flex;
  gap: 20px;
}

.menu__item {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.menu__item:hover {
  color: #bababa;
}
