.page {
  background-image: url(Imagenes/fondo.jpg);
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: first baseline;
  height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.page__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: flex-start;
}

.profile {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 260px;
  box-sizing: border-box;
}

.profile__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile__button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-size: 16px;
}

.profile__button:hover {
  background-color: #0006b3;
  transition: 1s;
}

.profile__info {
  display: none;
  margin-top: 10px;
  text-align: left;
}

.profile--facebook {
  border-left: 5px solid #0644c9;
}

.profile--messenger {
  border-left: 5px solid #00b2ff;
}

.profile--instagram {
  border-left: 5px solid #b80627;
}

.profile--twitter {
  border-left: 5px solid #ff214a;
}
